[submodule "apps/com.bd452.fbink/vendor/FBInk"]
	path = apps/com.bd452.fbink/vendor/FBInk
	url = https://github.com/NiLuJe/FBInk.git
[submodule "components/kindle-substrate"]
	path = components/kindle-substrate
	url = https://github.com/bd452/kindle-substrate.git
[submodule "components/ember"]
	path = components/ember
	url = https://github.com/bd452/ember.git
